name: Run rspec, rubocop

on:
  push:

env:
  RENDER_DB_URL: ${{ secrets.RENDER_DB_URL }}
  UID: 1000
  GID: 1000

jobs:
  rspec:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    services:
      mariadb:
        image: mariadb:10.11
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: bookshare_test
          MYSQL_USER: app
          MYSQL_PASSWORD: password
        options: >-
          --health-cmd="mysqladmin ping -h localhost -p$password"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      chrome:
        image: seleniarm/standalone-chromium:latest
        ports:
          - 4445:4444

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 120
          install-dependencies: true

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Yarn install
        run: yarn install --check-files

      - name: Set Capybara port
        run: |
          CAPYBARA_PORT=3001
          echo "CAPYBARA_PORT=$CAPYBARA_PORT" >> $GITHUB_ENV

      - name: Database create and migrate
        env:
          RAILS_ENV: test
        run: |
          cp config/database.yml.ci config/database.yml
          bundle exec rails db:create
          bundle exec rails db:migrate

      - name: Assets precompile
        env:
          RAILS_ENV: test
        run: bundle exec rails assets:precompile

      - name: Run RSpec
        env:
          RAILS_ENV: test
          SELENIUM_DRIVER_URL: http://localhost:4445/wd/hub
          CAPYBARA_PORT: ${{ env.CAPYBARA_PORT }}
        run: bundle exec rspec

  rubocop:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rubocop
